/*Btn-Primary*/
.btn-primary {
    background-color: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 16px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #66e492;
    color: rgb(83, 79, 79);
}

/*Logo Image Spotify*/
.logo-image {
    height: 20px;
    width: auto;

}