@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto/Roboto-Light.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto/Roboto-Black.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}