@import url('globalReset.css');
@import url('globalFonts.css');
@import url('globalStyle.css');

body {
    font-family: Roboto, sans-serif;
}

/* Header */
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 40px;
    width: 100%;
    z-index: 1;    
}

.header__container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header__content-logo {
    display: flex;

}

.logo-image:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.header__content-navbar {
    display: flex;
}

.content__navbar-links {
    display: flex;

}

.navbar__link-item:nth-child(3) {
    border-right: 1px solid white;

}

.navbar__link-item {
    color: white;
    font-weight: bold;
    padding: 0px 12px;
    font-size: 1rem;

}

.navbar__link-item:hover {
    cursor: pointer;
    color: yellow;
}

/*Main*/
/*Main Banner*/
.main__container {
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__container::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 80px;
    background: linear-gradient(0deg, #1b1b17, transparent);
}

.main__banner {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/banner-initial.jpg') center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;

}

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 500;
}

.banner__content>h2 {
    font-size: 5rem;
}

.banner__content>p {
    font-size: 1.1rem;
    margin: 15px 0;
}

/*Footer*/
.footer__container {
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color: black;
    color: white;
}

.footer__content-menu {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;    
}

.footer__menu-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 1rem;
}
.footer__menu-item {
    font-weight: 500;    
    color: #919496;
    font-size: 0.9rem;
}

.footer__menu-item:hover {
    cursor: pointer;
    color: yellow;
}

.footer__content-socials {
    display: flex;
    gap: 16px;

}

.footer__content-socials>i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #cccc;
    border-radius: 50%;

}

.footer__content-socials>i:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.footer_content-copyrigth {
    display: flex;
    justify-content: space-evenly;
    color: #919496;
}

.footer__info-items {
    display: flex;
    align-items: end;
    gap: 14px;
}


.footer__info-item {
    font-size: 0.6rem;
}

.footer__info-item:hover {
    cursor: pointer;
    color: yellow;
}

.footer_rights {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    gap: 3px;
}

.country {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    font-size: 0.5rem;

}

.country-logo {
    width: 16px;
    height: 16px;
}

/*Menu Mobile*/
.mobile-menu-icon button {
    background: transparent;
    outline: none;
    border: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.open {
    display: block;    
}

@media screen and (max-width:670px) {
    .header__container {
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
    }

    .header__container-nav {
        justify-content: space-around;
    }

    .header__content-navbar {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .content__navbar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .content__navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 1rem 0px;

    }

    .navbar__link-item:nth-child(3) {
        border-right: none;
        padding: 5px;
        border-bottom: 1px solid white;

    }

    .footer__container {
        flex-wrap: wrap;
    }

    .footer__content-menu {
        flex-direction: column;
    }
    .footer__info-items{
        gap: 4px;
    }

}